.banner {
  position: relative;
}
.banner__container {
  padding-top: 52px;
  position: relative;
}
.banner__buttons-left {
  position: absolute;
  top: 175px;
  left: 20px;
}
.banner__delivery {
  max-width: 312px;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 250px;
}
.banner__image {
  position: absolute;
  top: 0;
  left: calc(50% - 360px);
}
.banner__phone {
  display: block;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 7px;
}
.banner__email {
  font-size: 18px;
  font-weight: 500;
  text-decoration-line: underline;
  display: block;
}
.banner__dish {
  margin-top: 283px;
}

.dish__name {
  font-size: 20px;
  font-weight: 500;
}
.dish__weight {
  display: inline-flex;
  font-size: 13px;
  font-weight: 500;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  padding: 2px 6px 3px;
  margin-top: 5px;
  margin-bottom: 16px;
}
.dish__image {
  margin-left: -26px;
  margin-bottom: -2px;
}
.dish__bottom {
  display: flex;
  align-items: center;
}
.dish__price {
  font-size: 23px;
  font-weight: 800;
  margin-right: 37px;
}
.dish__in-basket {
  width: 42px;
  height: 42px;
  background: #FBD13E;
}