@import "slick";
@import "slick-theme";
.banner {
  position: relative;

  &__container {
    padding-top: 52px;
    position: relative;
  }

  &__buttons-left {
    position: absolute;
    top: 175px;
    left: 20px;
  }
  &__buttons-right {
    position: absolute;
    right: 0;
    bottom: -470px;
    z-index: 5;
  }
  &__delivery {
    max-width: 312px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 250px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: calc(50% - 360px);
    img {
      max-width: unset;
    }
  }

  &__phone {
    display: block;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 7px;
  }

  &__email {
    font-size: 18px;
    font-weight: 500;
    text-decoration-line: underline;
    display: block;
  }

  &__dish {
    margin-top: 283px;
    & .dish__name {
      height: auto;
    }
  }
  &__dish-main {
    background: url("../img/dish-wrap.svg") no-repeat;
    position: absolute;
    width: 355.245px;
    height: 357.933px;
    top: 461px;
    left: calc(50% - 289px);
    padding: 35px 66px 35px 57px;
  }
}

.popular {
  &__container {
    padding-right: 50px;
  }

  margin-top: -49px;
  margin-bottom: 138px;
  &__header {
    max-width: 640px;
    margin-left: calc(50% - 246px);
    margin-bottom: 55px;
  }
  &__products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
}
.product-menu {
  margin-top: 105px;
  margin-bottom: 169px;
  &__header {
    padding-left: 10px;
    margin-bottom: 64px;
  }
  &__item {
    height: 314px;
    background: #000;
    width: 233px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 10px;
    &:hover {
      background: #09234e;
    }
  }
  &__item-name {
    font-size: 20px;
    font-weight: 500;
    max-width: 159px;
    text-align: center;
    margin: 0 auto;
  }
  &__item-stock {
    background: var(--red-color);
    &:hover {
      background: var(--red-color);
    }
    &__arrow_next {
      right: 0;
    }
  }
  &__item-percent {
    color: #0f0f11;
    text-align: center;
    font-size: 78px;
  }
  &__item-percent-header {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex !important;
    font-weight: 500;
    max-width: 140px;
    text-align: center;
    margin: 0 auto;
  }

  &__item-stock {
    padding-bottom: 10px;
  }
}

@import "blocks/product";

@media screen and (max-width: 1560px) {
  .banner {
    &__image {
      left: 400px;
    }
    &__dish-main {
      left: 466px;
    }
    &__buttons-right {
      right: calc(50% - 750px);
    }
  }
  .popular {
    &__products {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 42px;
    }
  }
}
@media screen and (max-width: 1140px) {
  .banner {
    &__image {
      //position: static;
      height: 640px;
      left: 395px;

      picture {
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }

    &__buttons-left {
      position: absolute;
      top: 175px;
      left: -28px;
    }

    &__delivery {
      margin-bottom: 254px;
    }

    &__dish-main {
      left: 445px;
      top: 478px;
      padding-top: 42px;

      .dish__name {
        margin-bottom: 5px;
      }
    }

    &__dish {
      margin-top: 236px;
    }

    &__buttons-right {
      right: calc(50% - 662px);
      bottom: -458px;
    }
  }
  .dish {
    &__image {
      margin-left: -11px;
      margin-bottom: -2px;
    }
  }
  .popular {
    margin-top: 40px;
    margin-bottom: 138px;
    &__header {
      margin-bottom: 50px;
    }
    &__container {
      padding-right: 20px;
    }
  }
  .product-menu {
    margin-top: 169px;
    margin-bottom: 169px;
    &__header{
      margin-left: calc(50% - 255px);
    }
  }
}
